<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eResto</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip to main content</a>

    <header>
        <app-bar></app-bar>
    </header>

    <div class="hero">
        <h1 class="hero-text">Discover the best restaurant in the world</h1>
    </div>
    <main id="mainContent">
        <section class="content">
            <div class="collections">
                <h2 class="collections-label">Collections</h2>
                <p class="collections-desc">Explore rated lists of top restaurants</p>
                <restaurant-list class="top-list"></restaurant-list>
            </div>
        </section>
    </main>
    <footer-bar></footer-bar>
</body>

</html>