@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #fffffe;
  font-size: 18px;
  color: #5f6c7b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #094067;
}

a {
  text-decoration: none;
  color: #094067;
  font-size: 18px;
  padding: 0.7rem 0;
}

/** skip to content */
.skip-link {
  position: absolute;
  top: -50%;
  left: 0;
  background-color: #3da9fc;
  color: #fffffe;
  padding: 1em;
}

.skip-link:focus {
  top: 0;
}

/** header */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
}

nav ul.nav-list {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.brand h1 a {
  font-weight: 500;
  font-size: 24px;
  font-family: 'Archivo Black', sans-serif;
}

img.brand-logo {
  width: auto;
  height: 2.5em;
}

button.menu-toggle {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 30px;
  height: auto;
}

button.menu-toggle img {
  padding: 1em;
}

/** hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../public/images/hero-image_4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  color: #fffffe;
  text-align: center;
}

/** main */
main#mainPage {
  min-height: 70vh;
}

main.load,
footer.load {
  display: none;
}

/** content */
.content {
  padding: 2em 0;
  background-color: #d8eefe;
}

.collections {
  margin: auto;
  width: 80%;
}

.collections-label {
  font-size: 1.8em;
}

.collections-label,
.collections-desc {
  text-align: center;
}

/** restaurant list */
.restaurant-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 32px;
}

.restaurant-empty {
  display: inline !important;
}

.card {
  background-color: #fffffe;
  padding: 32px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  height: 182px !important;
  object-fit: cover;
  object-position: center;
}

.card-title {
  margin-top: 16px;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.restaurant-img {
  width: 100%;
  height: auto;
}

.restaurant-rating,
.restaurant-location {
  display: flex;
  align-items: center;
}

.card-description {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

/** footer */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  background-color: #fffffe;
}

/** resturant details page */
.restaurant-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
  row-gap: 1em;
  max-width: 70%;
  margin: 3em auto;
}

.restaurant-categories {
  margin-top: 8px;
}

.restaurant-rating {
  margin-top: 4px;
}

.restaurant-address {
  margin-top: 16px;
}

.restaurant-description {
  text-align: justify;
}

.restaurant-content {
  grid-column-start: 1;
  grid-column-end: 3;
}

/** tab */
.tab {
  margin: 24px 0;
  border-bottom: 1.5px solid #5f6c7b;
}

.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 14px 14px;
  transition: 0.3s;
  font-size: 18px;
  margin-right: 4px;
  outline: none;
}

.tab button:hover {
  background-color: #d8eefe;
}

.tab button.active {
  border-bottom: 3px solid #3da9fc;
}

.tab-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  row-gap: 8px;
  margin-top: 32px;
  min-height: 150px;
}

.restaurant-review,
.restaurant-menu {
  border: 1px solid #d8eefe;
  margin-bottom: 16px;
}

.restaurant-review-name,
.restaurant-menu-name {
  margin-top: 0 !important;
}

.restaurant-review {
  min-height: 150px;
}

.restaurant-review-date {
  font-size: smaller;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 20px;
}

/** review form */
div.form-review {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 24px 0;
}

div.form-review > form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  width: 60%;
}

.form-review input,
.form-review textarea {
  width: 100%;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
  padding: 16px;
  border: 1px solid #5f6c7b;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 20px;
  resize: vertical;
}

input#submitReview {
  width: 200px;
  background-color: #3da9fc;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #094067;
}

/** favorite button */
.favorite {
  font-size: 34px;
  position: fixed;
  bottom: 5vh;
  right: 8vh;
  background-color: #094067;
  color: #d8eefe;
  border: 0;
  border-radius: 50%;
  font-weight: 1000;
  width: 55px;
  height: 55px;
  cursor: pointer;
  outline: none;
}

/** favorite page */
section.favorites {
  min-height: 70vh;
}

/** content error */
.content-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  height: auto;
}

.content-error {
  grid-template-columns: 1fr !important;
  column-gap: 0;
}

.img-error {
  width: 35%;
  height: auto;
}

.message-error {
  margin-top: 24px;
}

/** loader */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #d8eefe;
  border-top: 16px solid #3da9fc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader.stop {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/** breakpoints */

/* laptop */

@media screen and (min-width: 1800px) {
  .card-img {
    height: 282px !important;
  }

  .restaurant-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  nav ul.nav-list {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .tab-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .favorite {
    right: 6vh;
  }

  .img-error {
    width: 60%;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  nav ul.nav-list {
    width: 40%;
  }

  .content {
    padding: 3em 3em;
  }

  .restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-text {
    font-size: 2.5em;
    width: 75%;
  }

  .card-img {
    max-height: 164px;
  }

  .card-title {
    margin: 8px 0;
  }

  .card-description {
    -webkit-line-clamp: 2;
  }

  footer {
    flex-direction: column;
    min-height: 120px;
  }

  .restaurant-details {
    grid-template-columns: 1fr;
    max-width: 70%;
    row-gap: 0;
  }

  .restaurant-content {
    grid-column-start: auto;
    grid-column-end: auto;
  }

  .tab-content {
    column-gap: 32px;
  }

  .favorite {
    right: 32px;
  }

  .img-error {
    width: 75%;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  button.menu-toggle {
    display: inline;
    z-index: 10;
  }

  nav {
    position: relative;
    height: 65px;
  }

  nav ul.nav-list {
    position: fixed;
    background-color: #d8eefe;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    opacity: 0.3;
    overflow: visible;
  }

  ul li.nav-item {
    padding: 48px;
  }

  nav ul.open {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-fixed {
    position: fixed;
  }

  .close-button {
    content: url('../public/images/close.svg');
  }

  .hero-text {
    padding: 0 54px;
  }

  .hero-text {
    font-size: 2em;
    padding: 8px;
  }

  .content {
    padding: 3em 3em;
  }

  .restaurant-list {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 16px;
  }

  .card-img {
    max-height: 164px;
  }

  .tab-content {
    grid-template-columns: 1fr;
  }

  .img-error {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  button.menu-toggle {
    width: 28px;
  }

  .content {
    padding: 1.5em 1.5em;
  }

  footer {
    padding: 0 1em;
  }
}
